/* Dateiname: aufgabe 02 - main.scss    Verbesserung */

@import "compass/reset";
@import "compass/css3";

$margin: 10px 5px 10px 5px;
$border: 1px solid #000;
$red: #d9534f;
$orange: #f0ad4e;
$green: #5cb85c;
$padding: 5px;

/* Hier scheint keine sinnvolle Vererbung zu sein */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family:'Open Sans', sans-serif; /*Stichwort: Webfonts*/
}

/* dies ist ein kommentar */
#main {
    width: 990px;
    margin:0 auto;
}


input[type="text"],input[type="password"] {
    border:$border;
    padding:$padding;
    margin:$margin;

    width: 180px;
}

input[type="submit"] {
    border:$border;
    border-radius:0;
    background-color:#fafafa;
    margin:$margin;
    cursor:pointer;
}

label {
    margin-left:5px;
}

.passwordField {
    width:300px;
    float:left;
}

.passwordFeedback {
    width:250px;
    float:left;
}

.feedback {
    margin:$margin;
    font-size:11px;
    font-weight:600;

    &.error { /* weil es direkt zusammenhängt: .feedback.error */
        color:$red;
    }
    &.warning {
        color:$orange;
    }
    &.success {
        color:$green;
    }

    &.error, &.warning, &.success {
        display: none;
    }
}

.strengthIndicator {
    margin:$margin;
    width: 200px;
    padding:$padding;
    height: 13px;
    border:1px solid #d3d3d3;

    &::before {
        content: "";
        display: block;
        height: 100%;

        @include transition-property(width);
        /*-moz-transition-property: width;
        -o-transition-property: width;
        -webkit-transition-property: width;
        transition-property: width;*/

        @include transition-property(0);
        /*-moz-transition-delay: 0;
        -o-transition-delay: 0;
        -webkit-transition-delay: 0;
        transition-delay: 0;*/

        @include transition-duration(250ms);
        /*-moz-transition-duration: 250ms;
        -o-transition-duration: 250ms;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;*/

        @include transition-timing-function(linear);
        /*-moz-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;*/
    }
}


.passwordWrapper::after {
    content: "";
    display: block;
    clear: both;
    float: none;
}

.error .strengthIndicator::before {
    width: 10%;
    background-color: $red;
}

.warning .strengthIndicator::before {
    width: 60%;
    background-color: $orange;
}

.success .strengthIndicator::before {
    width: 100%;
    background-color: $green;
}

.error .feedback.error {
    display: block;
}

.warning .feedback.warning {
    display: block;
}

.success .feedback.success {
    display: block;
}